<%= form_for :article, url:article_path, method: :patch do |f| %>
 <% if @article.errors.any?  %>
   <% @article.errors.full_messages.each do |msg| %>
   <li><%= msg%></li>
   <%end%>
   <%end%>


<%= render 'articles/form', f:f %>



<%end%>