<style>
.cool{
	padding: 20px;
	margin: 20px;
}
</style>
<div class="cool">
<br>
<center><p><h2>Інформація про кафедру</h2></p></center>
<h5><p>
Кафедра міжнародного права та міжнародних відносин створена у 1997 р. у структурі  Ужгородського державного інституту інформатики, економіки і права, який у 2004 р., реорганізований в Закарпатський державний університет IV рівня акредитації.
</p>

<p>У 2013 р. у зв’язку з  об’єднанням Закарпатського державного університету з Ужгородським національним університетом (надалі: ДВНЗ УжНУ) кафедра міжнародного права стала однойменною кафедрою ДВНЗ УжНУ. Протягом більше ніж 18 років діяльності кафедри міжнародного права, сформовано науково-педагогічний колектив фахівців, юристів-міжнародників, закладено концептуальні напрями подальшого розвитку кафедри міжнародного права, визначено актуальні напрями наукових досліджень сучасної  проблематики теорії і практики міжнародного права.</p>
<p>
Від початку створення кафедри міжнародного права її очолює професор кафедри Динис Георгій Георгійович, який з відзнакою закінчив факультет міжнародних відносин та міжнародного права Київського державного університету ім. Т. Г. Шевченка, працював на Ближньому Сході та в Африці, в наукових інститутах Академії наук України. Проводив наукові дослідження та лекції в університетах США (Джорджія, Орегон, в юридичній школі Еморі (Атланта). У 1996-1998.рр. працював в якості юридичного експерта Робочої групи Ради Європи з питань підготовки Європейських Конвенцій захисту  гірських регіонів та сільськогосподарських районів. Обирався Комітетом Міністрів Ради Європи Радником Комітету Радників Центральної та Східної Європи (Рада Європи) з питань транскордонного співробітництва (1998-2001рр.). Автор більше 60 наукових, навчально-методичних публікацій з міжнародного права, права ЄС у вітчизняних та зарубіжних виданнях.</p>
<p>
Кафедра міжнародного права ДВНЗ УжНУ має значний кадровий потенціал, який забезпечує відповідний рівень навчальної, методичної та наукової роботи. До професорсько-викладацького складу кафедри входять: 2 професори, 7 кандидатів юридичних наук захищених по спеціальності 12.00.11 – «Міжнародне право», а також  фахівці-правознавці. До навчального процесу долучаються вчені з інших вітчизняних та зарубіжних університетів.</p>
<p>
 Професорсько-викладацький склад кафедри має досвід наукової, педагогічної та юридичної практики у галузі міжнародних відносин та зовнішньої політики у міжнародних організаціях, зарубіжних інституціях, досвід захисту прав та інтересів фізичних та юридичних осіб у міжнародних судових інстанціях. Співробітники кафедри приймають участь у підготовці законопроектів та регіональних міжнародних програм з транскордонного співробітництва України,  беруть участь в роботі міжнародних конференцій та органів міжнародних організацій, виступають з циклами лекцій у вищих навчальних закладах ближнього і далекого зарубіжжя. Кафедра активно підтримує  міжнародне співробітництво з університетськими школами міжнародного права України, Угорщини, США.</p>
<p>
Пріоритетним напрямом розвитку кафедри міжнародного права визначена науково-організаційна діяльність з метою отримання нових знань та впровадження їх на практиці у  сучасний навчальний процес. Наукова комплексна кафедральна тема дослідження «Теорія і практика трансформацій сучасного міжнародного права».</p>
<p>
Кафедра міжнародного права забезпечує  підготовку конкурентоздатних   фахівців зі спеціальності «Міжнародне право», кваліфікація: юрист-міжнародник, а також  перекладач з іноземної мови, молодший науковий співробітник з міжнародного права.</p>
<p>
Фахівці з міжнародного права володіють поглибленими знаннями з міжнародного публічного права, міжнародного приватного права та права Європейського Союзу, та набувають вміння:</p>

    <p>компетентно та професійно обґрунтовувати та висловлювати свою точку зору щодо правових аспектів міжнародної діяльності та державного управління України, включаючи: проблематики міжнародного права, національного законодавства та законодавства інших держав, діяльності міністерства закордонних справ, дипломатичних та консульських місій за кордоном або при міжнародних організаціях, зокрема проблематики міжнародного права та національного законодавства;</p>
    <p>використовувати юридичні поняття та категорії, що застосовуються для надання правової допомоги, а також у сфері юстиції та правосуддя; викладати міжнародно-правові та національно-правові дисципліни у вищих навчальних закладах та оперувати основами міжнародно-правового аналізу зовнішньополітичних та зовнішньоекономічних проблем.</p>

<p>Випускник (юрист-міжнародник) здатний самостійно аналізувати та досліджувати актуальну проблематику міжнародного права, фахово готувати аналітичні матеріали,  рекомендації, експертні висновки для органів державної влади та приватних осіб з проблематики міжнародного та національного права, представляти інтереси України в міжнародних організаціях, представляти інтереси України та її громадян в міжнародних та національних судових установах, працювати в  різних юридичних інституціях, міжнародних компаніях.
</p></h5>
</div>