<%= form_for :post, url:post_path, method: :patch do |f| %>
 <% if @post.errors.any?  %>
   <% @post.errors.full_messages.each do |msg| %>
   <li><%= msg%></li>
   <%end%>
   <%end%>


<%= render 'form', f:f %>



<%end%>