<br>
<div class="container">
	<div class="row">
	
	<p><h3 style="font-weight: 900;">НОВИНИ</h3></p>
	<% @posts.each do |post| %>
	 <div class="col-sm-6 col-md-4 col-lg-3 mt-4">     
		<div class="card" style="width: 25rem;">
		  <div class="card-img-top"><%= image_tag post.image(:thumb) %></div>
		     <div class="card-block">
			    <h4 class="card-title"><%= link_to post.title, post_path(post.id) %></h4>
			    <p class="card-text"><i><%= sanitize post.body[0..50] %></i></p>
			    <center><%= link_to "Дізнатись більше", post_path(post.id), class: "btn btn-default" %></center>
		     </div>
		</div>
	 </div>
	<%end%>	
	</div>
</div>
<br>