// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.com { 
    text-align: center;
    padding: 20px;
}

.bord{
	background: #FFF8DC;
	border: 1px;
	border-style: solid;
	border-color: #DCDCDC;
	border-radius: 20px;
	margin-bottom: 5px;
	padding: 20px;
	margin-right: 15px;
	margin-left: 15px;
}

.ram
{
	margin-right: 15px;
	margin-left: 15px;
}

.time{
	text-align: right;
	opacity: 0.65;
}

.post{
	margin-left: 20px;
	margin-right: 20px;
}