<style>
.container-fluid a{
  text-decoration:none;
  color: white;
}

nav{
  background-color: black;
}

</style>
<nav>
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to "Pravo", root_path, class: "navbar-brand" %>
    </div>
   
    
    <ul class="nav navbar-nav navbar-right">
    <% if current_user.nil? %>
    <li>
    <%= link_to user_session_path do %>
      <i class="glyphicon glyphicon-user"></i> Login
      <%end%>
      </li>
      <% else %> 
      <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="glyphicon glyphicon-log-in"></i> Logout
  <%end%>
      </li>
       <% end %>
    </ul>

  </div>
</nav>


