<style>
.container-fluid a{
  text-decoration:none;
  color: grey;
}

nav{
  background-color: gold;
}

.ram a{
  text-decoration:none;
  color: black;
}
</style>

<center><%= link_to root_path do%>
    <img src="http://www.uzhnu.edu.ua/uploads/root/logos/_small_transp.png" width="150" height="150"> 
    <%end%></center>

<nav>
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to "Кафедра міжднародного права", root_path, class: "navbar-brand" %>
    </div>
    
   
    
    <ul class="nav navbar-nav navbar-right">
    <% if current_user.nil? %>
    <li>
    <%= link_to user_session_path do %>
      <i class="glyphicon glyphicon-user"></i> Вхід
      <%end%>
      </li>
      <% else %> 
      <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="glyphicon glyphicon-log-in"></i> Вийти
  <%end%>
      </li>
       <% end %>
    </ul>

  </div>
</nav>
<br>
<div class="ram"> 